.Heading {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    background-color: dodgerblue;
}

.FlexContainer > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.ParentContainer {
    display: flex;
    background-color: violet;
    flex-direction: column;
}

.ParentContainer > div {
    background-color: azure;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 100px;
}

.CenterContainer {
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 300px;
    background-color: black;
}

.CenterContainer > div {
    background-color: antiquewhite;
    color: grey;
    width: 100px;
    height: 100px;
}

.growContainer {
    display: flex;
    align-items: stretch;
    background: grey;
}

.growContainer > div {
 background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}  

.SelfContainer {
    display: flex;
    height: 200px;
    background: #f1f1f1;
}

.SelfContainer > div {
    background: dodgerblue;
    color: white;
    margin: 10px;
    width: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}